* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Helvetica;
  color: #000;
}

body {
  height: 100vh;
  margin: 0 auto;
  background-color: #f0f1f1;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #f0f1f1;
  box-shadow: 0 0.5vh 1vh rgba(57, 63, 72, 0.3);
  font-size: 3vh;
}

.dinheiro {
  padding-right: 2vh;
}

#titulo {
  padding-left: 2vh;
}

.master {
  display: flex;
  justify-content: space-between;
  margin-top: 6vh;
  margin-left: 2vh;
  margin-right: 2vh;
  height: 80%;
}

#tabela-bicho {
  width: 105.7vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.bicho-container {
  width: 21.14vh;
  height: 16vh;
  margin: 0;
}

.bicho-container img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.bicho-container img:hover {
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
}

.bicho-container:hover > .nome_bicho {
  display: flex;
  opacity: 1;
}

.nome_bicho{
  animation-name: 'aparecer_nome';
  animation-duration: 0.5s;
}

.bichos {
  width: 100%;
  height: 100%;
  margin: 0;
}

.menu-apostas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f1f1;
  box-shadow: 0 0.5vh 1vh rgba(57, 63, 72, 0.3);
  border-radius: 0.4vh;
  width: 30vh;
  padding: 1.3vh;
}

#aposta {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  height: 7vh;
  width: 80%;
}

#texto-aposta {
  padding-top: 2vh;
  text-align: center;
  font-size: 3vh;
}

#tipos-aposta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.btn-tipo-aposta {
  font-size: 2.3vh;
  padding: 0.8vh;
  width: 15vh;
  flex-grow: 1;
  width: 8vh;
  height: 8vh;
  box-shadow: 0 0.2vh 0.4vh rgba(57, 63, 72, 0.3);
  border-style: solid;
}

.btn-tipo-aposta:hover {
  background-color: #e8e8e8;
}

.btn-tipo-aposta:active {
  transform: translateY(0.001vh);
}

#botao-apostar {
  padding: 1vh;
  width: 100%;
  font-size: 2.5vh;
  background-color: #28a745;
  box-shadow: 0 0.81vh #666;
  color: white;
  border: none;
}

#botao-apostar:hover {
  background-color: #007e33;
}

#botao-apostar:active {
  transform: translateY(1.5px);
}

.historico {
  width: 30vh;
  background-color: green;
}

.nome_bicho {
  display: none;
  color: white;
  font-weight: 700;
  margin-top: 12vh;
  margin-left: 1vh;
  opacity: 0;
  z-index: 2;
  position: absolute;
  text-align: center;
}

.bichos > img:hover {
  width: 10vh;
  height: 10vh;
}

@keyframes aparecer_nome {
  from{
    display: none;
    opacity: 0;
  }
  to{
    display: flex;
    opacity: 1;
  }
}

@media screen and (orientation: portrait) {
  .historico {
    display: none;
  }
  .master {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tabela-bicho {
    width: 80%;
    height: 40%;
    margin-bottom: 2vh;
  }

  .menu-apostas {
    width: 80%;
    padding-bottom: 2vh;
  }

  #aposta {
    height: 40%;
  }
}
