* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Helvetica;
  color: #000;
}

body {
  height: 100vh;
  margin: 0 auto;
  background-color: #f0f1f1;
}

#cabecalho {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #f0f1f1;
  box-shadow: 0 0.5vh 1vh rgba(57, 63, 72, 0.3);
  font-size: 3vh;
}

#dinheiro {
  /* position: relative; */
  margin-left: 152vh;
}

#titulo {
  padding-left: 2vh;
}

#adicionar {
  height: 3.6vh;
  width: 3vh;
  margin-right: 2vh;
  margin-bottom: 0.1vh;
  border-radius: 0.5vh;
  background-color: #2ecc71;
  color: whitesmoke;
  padding-left: 1vh;
  padding-right: 1vh;
  border: none;
}

#div_adicionar {
  background-color: rgba(127, 140, 141, 1);
  width: 28.7vh;
  padding: 2vh;
  margin-left: 167vh;
  margin-top: -5vh;
  border-radius: 0.3vh;
}

#claudinho {
  margin-top: 2vh;
  width: 100%;
  -webkit-appearance: textfield;
  appearance: textfield;
  -moz-appearance: textfield;
}

#botao_xis {
  position: absolute;
  left: 27.8vh;
  top: 1.4vh;
  padding: 0.5vh 1vh 0.5vh;
  text-align: center;
  background-color: rgba(231, 76, 60, 1);
  color: whitesmoke;
  border: none;
}

#pafuncio {
  margin-top: 0.5vh;
  width: 29.2vh;
}

#master {
  display: flex;
  justify-content: space-between;
  margin-top: 6vh;
  margin-left: 2vh;
  margin-right: 2vh;
  height: 80%;
}

#tabela-bicho {
  width: 105.7vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.bicho-container {
  width: 21.14vh;
  height: 16vh;
  margin: 0;
  cursor: pointer;
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.bicho-container img:hover {
  -webkit-filter: grayscale(100%) blur(0.7987220447284346vh);
  filter: grayscale(100%) blur(0.7987220447284346vh);
}

.bicho-container:hover > .nome_bicho {
  display: flex;
  opacity: 1;
}

.nome_bicho {
  user-select: none;
  cursor: pointer;
  display: none;
  color: whitesmoke;
  background-color: #242625;
  width: 21.06vh;
  font-weight: 700;
  font-size: 3vh;
  margin-top: 12.5vh;
  opacity: 0;
  z-index: 2;
  position: absolute;
  text-align: center;
  -webkit-animation-name: "aparecer_nome";
  animation-name: "aparecer_nome";
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.numero_grupo_bicho {
  user-select: none;
  cursor: pointer;
  display: none;
  font-weight: 700;
  font-size: 3vh;
  opacity: 0;
  z-index: 1;
  margin-top: 1vh;
  margin-left: 1vh;
  position: absolute;
  text-align: center;
  color: #eb3b5a;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 4vh;
  height: 4vh;
  -webkit-animation-name: "aparecer_nome";
  animation-name: "aparecer_nome";
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.dezenas_bichos {
  user-select: none;
  cursor: pointer;
  display: none;
  font-weight: 700;
  font-size: 2.5vh;
  opacity: 0;
  z-index: 2;
  padding-top: 1vh;
  padding-left: 1vh;
  margin-bottom: 1vh;
  background-color: #242625;
  width: 4.11vh;
  margin-left: 16vh;
  position: absolute;
  color: ivory;
  -webkit-animation-name: "aparecer_nome";
  animation-name: "aparecer_nome";
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.bicho-container:hover > .numero_grupo_bicho {
  display: flex;
  opacity: 1;
}

.nome_bicho:hover ~ img {
  -webkit-filter: grayscale(100%) blur(0.7987220447284346vh);
  filter: grayscale(100%) blur(0.7987220447284346vh);
}

.dezenas_bichos:hover ~ img {
  -webkit-filter: grayscale(100%) blur(0.7987220447284346vh);
  filter: grayscale(100%) blur(0.7987220447284346vh);
}

.numero_grupo_bicho:hover ~ img {
  -webkit-filter: grayscale(100%) blur(0.7987220447284346vh);
  filter: grayscale(100%) blur(0.7987220447284346vh);
}

.bicho-container:hover > .dezenas_bichos {
  display: grid;
  grid-auto-columns: 1vh;
  opacity: 1;
}

.bichos {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 100%;
  height: 100%;
  margin: 0;
}

#menu-apostas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f1f1;
  box-shadow: 0 0.5vh 1vh rgba(57, 63, 72, 0.3);
  border-radius: 0.4vh;
  width: 30vh;
  padding: 1.3vh;
}

#aposta {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  height: 7vh;
  width: 80%;
}

#texto-aposta {
  padding-top: 2vh;
  text-align: center;
  font-size: 3vh;
}

#tipos-aposta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.btn-tipo-aposta {
  cursor: pointer;
  font-size: 2.3vh;
  padding: 0.8vh;
  width: 15vh;
  flex-grow: 1;
  width: 8vh;
  height: 8vh;
  border-style: solid;
}

.btn-tipo-aposta:hover {
  background-color: #e8e8e8;
}

.btn-tipo-aposta:active {
  transform: translateY(0.001vh);
}

#inserir_dinheiro_bicho {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin-top: 2vh;
  width: 100%;
  appearance: textfield;
  font-size: 3vh;
  font-family: Helvetica;
}

#texto_inserir_dinheiro_bicho {
  display: flex;
  margin-top: 3vh;
  font-size: 2.7vh;
  word-break: break-all;
}

#botao-apostar {
  cursor: pointer;
  padding: 1vh;
  width: 100%;
  font-size: 2.5vh;
  background-color: #28a745;
  box-shadow: 0 0.81vh #666;
  color: white;
  border: none;
}

#botao-apostar:hover {
  background-color: #007e33;
}

#botao-apostar:active {
  transform: translateY(1.5px);
}

#xerupita {
  -webkit-appearance: textfield;
  appearance: textfield;
  -moz-appearance: textfield;
  border: none;
  margin-top: 3vh;
  padding: 2vh;
  width: 100%;
  font-size: 2.7vh;
  text-align: center;
}

#historico {
  width: 30vh;
  background-color: #f0f1f1;
  box-shadow: 0 0.5vh 1vh rgba(57, 63, 72, 0.3);
  font-size: 3vh;
}

#historico_texto {
  text-align: center;
  padding-top: 2vh;
}

#historico_inner {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  background-color: #e3e3e3;
  width: 80%;
  height: 70vh;
  margin: 2vh 3vh;
}

.texto_inner_historico {
  display: flex;
  font-size: 2vh;
  padding-bottom: 1.5vh;
  word-break: break-all;
}

.bichos > img:hover {
  width: 10vh;
  height: 10vh;
}

#mensagem_erro_input {
  color: #dc3545;
  text-align: center;
  margin-top: 1.5vh;
}

#mensagem_erro_adicionar {
  margin-top: 1vh;
  text-align: center;
}

@keyframes aparecer_nome {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: flex;
    opacity: 1;
  }
}

@media screen and (orientation: portrait) {
  #historico {
    display: none;
  }
  #master {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #tabela-bicho {
    width: 53vh;
    height: 53vh;
    margin-bottom: 4.5vh;
  }

  .bicho-container {
    width: 10.6vh;
    height: 8.5vh;
    background-color: brown;
  }

  #dezenas_bichos{
    margin: 0;
  }

  .nome_bicho{
    width: max-content;
    margin: 0;
  }
  
  #menu-apostas {
    width: 50vh;
    padding-bottom: 2vh;
  }

  #aposta {
    height: 40vh;
  }

  #dinheiro {
    margin: 0;
    margin-left: 4.5vh;
  }

  #div_adicionar {
    margin: 0;
    top: -0.2vh;
  }
}
