* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Helvetica;
  color: #000;
}

body {
  height: 100vh;
  margin: 0 auto;
  background-color: #f0f1f1;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #f0f1f1;
  box-shadow: 0 0.5vh 1vh rgba(57, 63, 72, 0.3);
  font-size: 3vh;
}

.dinheiro {
  padding-right: 2vh;
}

#titulo {
  padding-left: 2vh;
}

.master {
  display: flex;
  justify-content: space-between;
  margin-top: 6vh;
  margin-left: 2vh;
  margin-right: 2vh;
  height: 70%;
}

#tabela-bicho {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: brown;
}

.bicho-container {
  width: 21.15vh;
  height: 20vh;
  margin: 0;
}

.bichos {
  /* display: grid; */
  width: 100%;
  height: 100%;
  margin: 0;
}

.menu-apostas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: khaki;
  /* margin-right: 1vw;
  margin-top: 5vh;
  font-size: 2.5vh; */
}

#aposta {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 7%;
}

#texto-aposta {
  padding-top: 2vh;
}

#botao-apostar {
  padding: 1vh;
  font-size: 2.5vh;
  background-color: limegreen;
}

.historico {
  /* margin-left: 1vw;
  margin-top:5vh; */
  width: 20%;
  background-color: green;
}

.bichos > img {
  width: 10vh;
  height: 10vh;
}

@media screen and (orientation: portrait) {
  .historico {
    display: none;
  }
  .master {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tabela-bicho {
    width: 80%;
    height: 40%;
    margin-bottom: 2vh;
  }

  .menu-apostas {
    width: 80%;
    padding-bottom: 2vh;
  }

  #aposta {
    height: 40%;
  }
}
